
.header_index{width:100%; height: 5rem; line-height: 5rem; color: #FFFFFF; font-size: 2rem; letter-spacing: 0.6rem; background: url('~@/assets/img/bg_title.png') no-repeat; margin: 0 auto;background-size: 100% 100%; text-align: center;}
.container{width: 100%;}
.col-lg-3,.col-lg-6{margin: 0;}
.col-lg-44{flex: 0 0 30%;margin-top: 10%;}
.m-20{margin-top: 1.2rem;}
.title_index{text-align:left;width: 100%; height: 3rem; font-size: 1.2rem; color: #ff9000; line-height: 3.7rem; padding-left: 1.2rem;background-size: 100% 100%; background: url('~@/assets/img/title_icon.png') left center no-repeat; }
.box1{height: 23rem; padding: 5px 0 10px 10px; background: url('~@/assets/img/bg_box1.png') no-repeat;background-size: 100% 100%; }
.box1_con{ height: 20rem; }
.box2{height: 33rem; padding:5px 0 10px 10px; background: url('~@/assets/img/bg_box2.png') no-repeat;background-size: 100% 100%; }
.box2_con{height: 28rem; }
.box3{height: 35rem; padding: 5px 0 10px 10px; background: url('~@/assets/img/bg_box3.png') no-repeat;background-size: 100% 100%; }
.box3_con{height: 20rem;display: flex;justify-content: space-between;align-items: center; }
.box3_con .box3_con_left_sun{width: 25%; height: 75%;  margin-top: 25%; background: url('~@/assets/img/sun_index.png') no-repeat;background-size: 100% 100%;text-align: center;justify-content: center;display: flex;position: relative;margin-left: 6%;}
.box3_con .box3_con_left_cloudy{width: 25%; height:  75%;  margin-top: 25%; background: url('~@/assets/img/cloudy_index.png') no-repeat;background-size: 100% 100%;text-align: center;justify-content: center;display: flex;position: relative;margin-left: 6%;}
.box3_con .box3_con_left_rain{width: 25%; height:  75%;  margin-top: 25%; background: url('~@/assets/img/rain_index.png') no-repeat;background-size: 100% 100%;text-align: center;justify-content: center;display: flex;position: relative;margin-left: 6%;}
.box3_con .box3_con_right{width:70%; height: 20rem; }
.box3_con_right .box3_con_right_top{ height: 5rem;margin-top:20px;}
.box3_con_right .box3_con_right_bot{ height: 10rem; margin-top: -6.8rem;}
.data_bg{width: 10rem; height: 7rem;margin-top: 70px;margin-left: 10px; background: url('~@/assets/img/data_icon.png') no-repeat;background-size: 100% 100%; text-align: center; font-size: 1.5rem; color: #FFFFFF; padding-top: 1.2rem;}
.data_bg_4{width: 9rem; height: 7rem; background: url('~@/assets/img/data_icon.png') no-repeat;background-size: 100% 100%; text-align: center; font-size: 1.5rem; color: #FFFFFF; padding-top: 1.2rem;}
.small_index{font-size: 1.1rem; color: #FFCC00;width: 100%;
  position:absolute; 
  z-index:2;
  left:0;
  bottom:-25%;}
small{font-size: 1.1rem; color: #FFCC00;}
.box4{height: 21rem; padding: 5px 0 10px 10px; background: url('~@/assets/img/bg_box4.png') no-repeat;background-size: 100% 100%; }
.box4_con{height: 15rem; }
.box5{background: url('~@/assets/img/bg_box5.png') no-repeat;background-size: 100% 100%;padding:5px 0 25px 10px; }
.box5_con{height: 26.9rem; }
.box5_con_top{height: 24.2rem; }
.box5_con_bot{width: 100%; height: 12rem; }
.box5_con_bot li{width: 50%;height: 2rem; line-height: 2rem; list-style: none; border-bottom: 0.06rem dashed #dbdbdb; color: #F5F5F5; overflow: hidden;}
.row_table {margin-top: 10%;justify-content: center;}
.queryCon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_cut_off_rule {
  max-width: 2rem;
  
}
.data_bg_div {
  width: 100%;
}
.row_index {
  display: flex;
  flex-wrap: wrap;
}
.con_right_top {
  width: 33.3%;
  float: left;
  /* margin-left: 5%; */
  text-align: center;
}
.table_cut_off_rule {
  border-left-style: solid;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
  width: 0.2rem;
  background: url('~@/assets/img/bg_box3.png') no-repeat;
  background-size: 100% 100%;
}

.box4_con .el-table{
  width: 100%;background-color: transparent;
  /* 表格字体颜色 */
  color:white;
  /* 表格边框颜色 */
  /* border: 0.5px solid #758a99; */
  height: 16rem;
}
  /* 表格内背景颜色 */
.box4_con .el-table th .el-table tr .el-table td{
  border: 0;
  background-color: transparent;
}
  /* 双数行背景颜色 */
.box4_con  .el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color:rgb(162, 199, 230);
  background-color: rgba(148, 144, 144, 0.3)
}
  /* 使表格背景透明 */
.box4_con .el-table th, .el-table tr {
  background-color: transparent;
}
  /* 删除表格下横线 */
.box4_con .el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
}
  /* 表格表头字体颜色 */
.box4_con .el-table thead {
  color: white;
  font-weight: 500;
  background-color: rgba(148, 144, 144, 0.3)
}
.box4_con .el-table__body tr:hover > td{
    background-color:rgba(62, 207, 188, 0.3)!important;
}
.box4_con .container-cus{
    width: 100%;
    padding: 015px;
}
